body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Verdana", cursive, sans-serif;
  color: #ffffff;
}

body {
  background: linear-gradient(
    90deg,
    rgb(205, 218, 106) 0%,
    rgb(148, 189, 122) 0%,
    rgb(106, 169, 175) 100%,
    rgb(102, 148, 141) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.score-section {
  display: grid;
  font-size: 39px;
  width: 800px;
  margin-bottom: 5px;
  background-color: #2b2a80;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
  justify-content: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
}

.question-count {
  width: 1300px;
  margin-bottom: 20px;
  background-color: #2b2a80;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  justify-content: center;
  align-self: center;
}

.question-count span {
  font-size: 21px;
}

.question-text {
  margin-bottom: 6px;
  margin-top: 6px;
  font-size: 32px;
}

.start {
  max-width: 600px;
  margin-bottom: 20px;
  background-color: #2b2a80;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  font-size: 20px;
  display: grid;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1200px;
}

.btn1 {
  width: 800px;
  height: 270px;
  font-size: 22px;
  color: #ffffff;
  background-color: #8a8899d8;
  border-radius: 15px;
  display: flex;
  margin: 10px;
  padding: 8px;
  border: 1px solid #718da893;
  cursor: pointer;
  justify-content: center;
  position: relative;
  transition: 0.5s;
}

button:hover {
  background-color: #20263d;
  opacity: 0.8;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 15px;
}

img {
  width: 281px;
  height: 218px;
  border-radius: 15px;
  position: absolute;
  top: 50px;
}
